/**
*   Animations
*/

//Fade in-out
.fade-enter-active, .fade-leave-active {
    transition: opacity .3s ease-in;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.fade-fast-enter-active, .fade-fast-leave-active {
  transition: opacity .15s;
}
.fade-fast-enter, .fade-fast-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/**
 * ----------------------------------------
 * class dropdown-animation
 * ----------------------------------------
 */

 .dropdown-animation-enter-active {
  animation: dropdown-animation .2s;

}

.dropdown-animation-leave-active {
	animation: dropdown-animation .1s reverse;
}

/**
 * ----------------------------------------
 * keyframes dropdown-animation
 * ----------------------------------------
 */
 @-webkit-keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
            opacity: 0;
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
            opacity: 1;
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
            opacity: 0;

    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
            opacity: 1;

    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

/**
 * ----------------------------------------
 * class gainleft-animation
 * ----------------------------------------
 */

 .gainleft-animation-enter-active {
  animation: gainleft-animation .4s;

}

.gainleft-animation-leave-active {
	animation: gainleft-animation .1s reverse;
}

/**
 * ----------------------------------------
 * keyframes gainleft-animation
 * ----------------------------------------
 */
 @-webkit-keyframes gainleft-animation {
  0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      opacity: 0;
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      opacity: 1;
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
  }
}
@keyframes gainleft-animation {
  0% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);

      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
  }
  100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);

      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
  }
}



/**
 * ----------------------------------------
 * class spin-transition-animation
 * ----------------------------------------
 */

 .spin-transition-enter-active {
  animation: spin-transition .1s ease-in-out;

}

.spin-transition-leave-active {
	animation: spin-transition .1s reverse ease-in-out;
}

/**
 * ----------------------------------------
 * keyframes spin-transition-animation
 * ----------------------------------------
 */
 @-webkit-keyframes spin-transition {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            opacity: 0;
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            opacity: 1;
  }
}
@keyframes spin-transition {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            opacity: 0;

  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            opacity: 1;
  }
}

/**
 * ----------------------------------------
 * class scale-half-animation
 * ----------------------------------------
 */

 .scale-half-animation-enter-active {
  animation: scale-half-animation .1s;

}

.scale-half-animation-leave-active {
	animation: scale-half-animation .1s reverse;
}

/**
 * ----------------------------------------
 * keyframes scale-half-animation
 * ----------------------------------------
 */
 @-webkit-keyframes scale-half-animation {
  0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      opacity: 0;
      -webkit-transform-origin: 50%;
      transform-origin: 50%;
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      opacity: 1;
      -webkit-transform-origin: 50%;
      transform-origin: 50%;
  }
}
@keyframes scale-half-animation {
  0% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);

      -webkit-transform-origin: 50%;
      transform-origin: 50%;
  }
  100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);

      -webkit-transform-origin: 50%;
      transform-origin: 50%;
  }
}

.flip-diagonal-1-tr-enter-active {
	-webkit-animation: flip-diagonal-1-tr 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-diagonal-1-tr 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.flip-diagonal-1-tr-leave-active {
	-webkit-animation: flip-diagonal-1-tr 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both reverse;
	        animation: flip-diagonal-1-tr 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both reverse;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-26 16:23:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-diagonal-1-tr
 * ----------------------------------------
 */
 @-webkit-keyframes flip-diagonal-1-tr {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 180deg);
            transform: rotate3d(1, 1, 0, 180deg);
  }
}
@keyframes flip-diagonal-1-tr {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 180deg);
            transform: rotate3d(1, 1, 0, 180deg);
  }
}

.scale-up-ver-center-enter-active{-webkit-animation:scale-up-ver-center .05s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-ver-center .05s cubic-bezier(.39,.575,.565,1.000) both}
.scale-up-ver-center-leave-active{-webkit-animation:scale-up-ver-center .05s cubic-bezier(.39,.575,.565,1.000) both reverse;animation:scale-up-ver-center .05s cubic-bezier(.39,.575,.565,1.000) both reverse}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-26 16:26:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes scale-up-ver-center{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4)}100%{-webkit-transform:scaleY(1);transform:scaleY(1)}}@keyframes scale-up-ver-center{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4)}100%{-webkit-transform:scaleY(1);transform:scaleY(1)}}