//OpenSans font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

//Roboto font, Share Tech Mono font, VT323 font
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700&family=Share+Tech+Mono&family=VT323&display=swap");

//Bungee and Bungee Shade (3D style) font
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&display=swap');
.bungee{
    font-family: 'Bungee', cursive;
}
.bungee-shade{
    font-family: 'Bungee Shade', cursive;
}

:root {
    //Primary color swatch
    --primary: rgb(148, 197, 149);
    --primary-v: 148, 197, 149;
    
    --secondary: #687e60;
    --secondary-v: 104, 126, 96;

    --success: #6d8069;
    --success-v: 109, 128, 105;

    --light-success: #44b42e;
    --light-success-v: 68, 180, 46;

    --light: rgb(161, 232, 175);
    --light-v: 161, 232, 175;

    --dark: #29251d;
    --dark-v: 60, 54, 42;

    --danger: rgb(237, 28, 36);
    --danger-v: 237,28,36;

    --danger-dark: rgb(139, 15, 19);
    --danger-dark-v: 139, 15, 19;

    --danger-light: rgb(239, 49, 56);
    --danger-light-v: 239, 49, 56;

    --danger-lighter: rgb(240, 68, 74);
    --danger-lighter-v: 240, 68, 74;

    --danger-warn: #EB4438;
    --danger-warn-v: 235, 68, 56;

    --warn: #FAC998;
    --warn-v: 250, 201, 152;

    --warn-dark: #CC7116;
    --warn-dark-v: 204, 113, 22;

    //Gray shaded primary color swatch
    --g-primary: #4F759B;
    --g-secondary: #6C809A;

    //Sql color swatch
    --sql-primary: rgb(57, 163, 249);
    --sql-primary-v: 57, 163, 249;

    --sql-secondary: rgb(16, 87, 145);
    --sql-secondary-v: 16, 87, 145;

    --sql-light: rgb(176, 218, 252);
    --sql-light-v: 176, 218, 252;

    --sql-lighter-dark: #105791;
    --sql-lighter-dark-v: 16, 87, 145;

    --sql-dark: #254e70;
    --sql-dark-v: 37, 78, 112;

    --sql-light-primary: #0780e3;
    --sql-light-primary-v: 7, 128, 227;

    //borders
    --border-radius: 10px;
}

/**
* Fonts
*/

//SQL Font
.sql.font {
    font-family: "Open Sans", sans-serif;
}
.open-sans {
    font-family: "Open Sans", sans-serif;
}

.flex {
    display: flex;

}

.flex.center {
    justify-content: center;
    align-items: center;
}

.columns{
    flex-direction: column;    
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}

.italic {
    font-style: italic;
}
.technical-sub {
    font-family: "Share Tech Mono", monospace;
font-weight: 400;
}
  
.technical-desc {
    font-family: "Roboto Slab", serif;
}

.technical {
    font-family: "VT323", monospace;
}

// A View's primary title
.title {
    margin: 1rem 0 .5rem 0;
    color: var(--sql-dark);
}

button {
    cursor: pointer;
}

.neumorphic {
    box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2),
    -6px -6px 12px 0 rgba(255, 255, 255, 0.5);

    transition: box-shadow 0.3s;
}

.neumorphic:hover.hover {
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2),
    -2px -2px 6px 0 rgba(255, 255, 255, 0.5);
}

.neumorphic:active.n-active{
    box-shadow: inset 3px 3px 12px 0 rgba(0, 0, 0, 0.2),
    inset -3px -3px 12px 0 rgba(255, 255, 255, 0.123);
}

.neumorphic.inset {
    box-shadow: inset 3px 3px 12px 0 rgba(0, 0, 0, 0.2),
    inset -3px -3px 12px 0 rgba(255, 255, 255, 0.123);
}

.neumorphic:disabled:hover{
    box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2),
    -6px -6px 12px 0 rgba(255, 255, 255, 0.5);
}

.neumorphic:disabled {
    opacity: .6;
}